
/* ----------- Mobile (larger than 360px wide) ----------- */
@media (min-width: 360px) and (max-width: 767px) {
	body {
    background: orange;
  }
}

/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width:768px) {
  body{
    background: yellow;
  }

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width:1200px) {
  body{
    background:green;
  }

}
